<h3>Create New Tweet</h3>

<form action="/tweets" method="post">
    <input type="text" name="tweet[content]" id="content">
    <input type="submit" value="Post Tweet" id="submit">
</form>

<p><a href="/logout">Log Out</a></p>